*{
  font-family: Arial, sans-serif;
  /* background-color: white;   */
  background-position: center;
  
}

#semester{
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    display: inline-flex;
    
}

h1{
    color: white;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    background-color: unset;
    display: flexbox;
    display: block;
}

h2{
    text-align: center;
    text-decoration: none;
    font-style:normal;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    background-color:unset;
    display: flexbox;
    display: block;
}

.Container1 {
    width: 100%;
    height: 100vh;  

    max-width: none;
    margin: auto;
    padding: 20px;
    background: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    border-radius: 8px;
    text-decoration: none;

    background-image: image-set(
        url("../../images/backgroundall2.jpg") 1x,
        url("../../images/backgroundall2.jpg") 2x
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Container2{
    max-width:none;
    margin: auto;
    padding: 10px;
    background: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    margin-top: 5px;
    border-radius: 8px;
    background-color:unset;
    text-decoration: none;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;       /* centers everything horizontally */
    gap: 50px;                     /* equal spacing between boxes */
    margin-top: 40px;
    background: unset;
}


.Container3{

    max-width: 700px;
    padding: 20px;
    background: transparent;
    box-shadow: 0 2px 8px rgba(50, 50, 120, 0.2);
    border-radius: 8px;
    text-align: center;
    color: inherit;
    transition: background-color 0.3s ease;
    display: inline-block;
    box-sizing: border-box; /* better than content-box */
}

    
.degree a {
    text-decoration: none;
    padding: 20px 40px;
    display: inline-block;
    /* background: #f4f4f4; */
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    color: #fffdfd;
    transition: 0.5s;
    border-radius: 8px;
}

.degree a:hover {
    background: #a05e99;
}
