    #back-link {
      display: inline-block;
      padding: 10px 20px;
      background-color: #107bed;   /* Blue box */
      color: rgb(255, 255, 255);
      font-size: 20px;
      border-radius: 6px;
      text-decoration: none;
      transition: background-color 0.3s ease; /* Smooth hover effect */
      cursor: pointer;
    }

    /* Change color when hovered */
    #back-link:hover {
      background-color: #0056b3;  /* Darker blue on hover */
    }
    

  