*{
  font-family: Arial, sans-serif;
  background-color: white;  
  background-position: center;
  background-color: #e0e0ff;
  
}

.semester{
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    display:flex;
}

.semester-list {
    width: 100%;
    /* height: 100vh;   */

    max-width:fit-content;
    margin: auto;
    padding: 20px;
    /* background: white; */
    box-shadow: 0 2px 8px rgba(60, 80, 30, 0.3);
    margin-top: 20px;
    border-radius: 8px;
    


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction:column;
    flex-wrap: wrap; 
    gap: 10px;             
    width: max-content;
    margin: auto;
    margin-top: 20px;
}


.semester-item a {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    background: #f4f4f4;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    color: #333;
    transition: 0.5s;
}

.semester-item a:hover {
    background: #a05e99;
}
